/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


body {
  /* Margin bottom by footer height */
  margin-top: 60px;
  margin-bottom: 60px;
  margin-bottom: 20%;
  color: #000;
  background-size: cover;
  background-image: url('../images/3.jpg');
}

body table, body form{

  color: #000;
}

header{

  padding: 1px;
}

header nav div ul li a{

  color: #0376ab;/* COLOR DEL LOGO */
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 1px;
  color: #0376ab;
  /* Set the fixed height of the footer here */
  /*line-height: 20px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container{

  max-width: 100%;
}

.footer > .container {
  padding-right: 15px;
  
}


code {
  font-size: 80%;
}